/* From Uiverse.io by bbaginuk */
/*------ Settings ------*/
.play-button {
  --color: black;
  --size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.play-button .play {
  position: absolute;
  animation: keyframes-fill 0.3s;
  display: none;
}

.play-button .pause {
  position: absolute;
  animation: keyframes-fill 0.3s;
}

/* ------ On check event ------ */
.play-button input:checked ~ .play {
  display: block;
}

.play-button input:checked ~ .pause {
  display: none;
}

/* ------ Hide the default checkbox ------ */
.play-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
  }
}
