@font-face {
  font-family: "SpotifyMixUI";
  src: url("../public/fonts/SpotifyMixUI-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpotifyMixUIBold";
  src: url("../public/fonts/SpotifyMixUI-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpotifyMixUITitleBold";
  src: url("../public/fonts/SpotifyMixUI-Title-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpotifyMixUITitleExtrabold";
  src: url("../public/fonts/SpotifyMixUI-Title-Extrabold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpotifyMixUIVariable";
  src: url("../public/fonts/SpotifyMixUI-Title-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SpotifyMixUI";
  user-select: none;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #ffffff2b;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff62;
  display: block;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.slide:hover .play-button-bg {
  opacity: 1;
  transform: translateY(-5px);
}

/* * play progress */
#play-progress {
  appearance: none;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, white 0%, gray 0%);
  border-radius: 9999px;
  transition: background 0.3s;
  cursor: pointer;
}

/* Ẩn nút kéo mặc định */
#play-progress::-webkit-slider-thumb {
  appearance: none;
  width: 0;
  height: 0;
}

#play-progress::-moz-range-thumb {
  width: 0;
  height: 0;
}

/* Khi hover, active hoặc đang kéo: nền xanh lá, hiện lại nút kéo */
#play-progress:hover,
#play-progress:active,
#play-progress.dragging {
  background: linear-gradient(to right, #1db954 0%, gray 0%);
}

/* hiện nút kéo */
#play-progress:hover::-webkit-slider-thumb,
#play-progress:active::-webkit-slider-thumb,
#play-progress.dragging::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

#play-progress:hover::-moz-range-thumb,
#play-progress:active::-moz-range-thumb,
#play-progress.dragging::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

/* * volume */
#volume {
  margin: 0 8px 0 2px;
  appearance: none;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, white 0%, gray 0%);
  border-radius: 9999px;
  transition: background 0.3s;
  cursor: pointer;
}

/* Ẩn nút kéo mặc định */
#volume::-webkit-slider-thumb {
  appearance: none;
  width: 0;
  height: 0;
}

#volume::-moz-range-thumb {
  width: 0;
  height: 0;
}

/* Khi hover, active hoặc đang kéo: nền xanh lá, hiện lại nút kéo */
#volume:hover,
#volume:active,
#volume.dragging {
  background: linear-gradient(to right, #1db954 0%, gray 0%);
}

/* hiện nút kéo */
#volume:hover::-webkit-slider-thumb,
#volume:active::-webkit-slider-thumb,
#volume.dragging::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

#volume:hover::-moz-range-thumb,
#volume:active::-moz-range-thumb,
#volume.dragging::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

/* * 5 line */

.playing {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 1px;
  width: 30px;
  height: 20px;
}

.greenline {
  background-color: #1db954;
  height: 20px;
  width: 2px;
  position: relative;
  transform-origin: bottom;
}

.line-1 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.2s;
}

.line-2 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.5s;
}

.line-3 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.6s;
}

.line-4 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0s;
}

.line-5 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.4s;
}

@keyframes playing {
  0% {
    transform: scaleY(0.1);
  }

  33% {
    transform: scaleY(0.6);
  }

  66% {
    transform: scaleY(0.9);
  }

  100% {
    transform: scaleY(0.1);
  }
}

.track-main:hover .playing {
  display: none;
}
